@import url('https://fonts.googleapis.com/css?family=Fauna+One|Life+Savers');

body {
    font-family: 'Fauna One', serif;
    padding-left: 10px;
    background-image: url("images/backgroundgame.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
}

.container {
    width: 100%;
}

#titleChart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    color: red;
    
}

#genreChart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.title h1 {
    text-align: center;
}
.reset_button {
    text-align: center;
    
}

.releases {
    padding-left: 0;
}

/*#titleChart > svg > g > g.axis.x > g{*/
/*    text-anchor: end !important;*/
/*    transform: rotate(-45deg);*/
/*}*/